
.main {
  position: relative;
  z-index: 2;
}

.mainWrapper {
  position: relative;
  padding-top: 15vw;
  padding-bottom: 7vw;
  font-size: responsive 10px 25px;
  font-range: 420px 1400px;
}

.mainWrapperInner {
  font-size: $font_size;
  line-height: $line_height;
}
