
.poster {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow: hidden;
  margin: 0;
  padding: 0;
  transition: opacity 170ms ease-out-quint, top 170ms ease-out-quint, transform 170ms ease-out-quint;
  will-change: opacity, top, -webkit-transform, transform;

  backface-visibility: hidden;
  transform: translate3d(0, 0, 1px);
  transform-style: preserve-3d;
}

.poster:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  content: " ";
  display: block;
  box-shadow: inset 0 0 20vmax #000;
}

.poster .image {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.poster.loaded .image {
  transition: all 170ms ease-out-quint;
  will-change: background-position, -webkit-filter, opacity, -webkit-transform, -moz-transform, transform;

  backface-visibility: hidden;
  transform: translate3d(0, 0, 1px);
  transform-style: preserve-3d;
}

.poster.scrolled {
  z-index: 1;
}

.poster .image img {
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
}

.poster .gradient {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  width: 100%;
  height: 30%;
  min-height: 75px;
  max-height: 300px;

  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, $background_main 95%, $background_main 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, $background_main 95%, $background_main 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, $background_main 95%, $background_main 100%);
}

.poster .arrow {
  position: absolute;
  bottom: 10%;
  left: 50%;
  padding: 10px;
  width: 32px;
  height: 20px;
  cursor: pointer;
  margin-left: -26px;
  z-index: 10;
  opacity: 0.85;
  transition: opacity 170ms ease;
}

.poster .arrow img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

.poster .arrow:hover {
  opacity: 1;
}

.poster .text {
  position: absolute;
  z-index: 10;
  top: 40%;
  left: 0;
  width: 100%;
  text-align: center;
  transform: translate(0, -50%);
}

.poster .text span {
  display: inline-block;
}

.poster h1,
.poster h2 {
  margin: 0;
  padding: 0;
}

.poster h1 {
  font-size: responsive 24px 56px;
  font-range: 420px 1800px;
  font-weight: $header_title_font_weight;
  line-height: 1em;
}

.poster h2 {
  font-size: responsive 12px 32px;
  font-range: 420px 1800px;
  font-weight: $header_subtitle_font_weight;
  line-height: 1em;
}

.poster a {
  color: $color_active;
  text-decoration: none;
}
.poster a:hover {
  color: $color_main;
}

.poster .titleText {
  font-size: $header_title_font_size;
  line-height: 1em;
}

.poster .subtitleText {
  font-size: $header_subtitle_font_size;
  margin-top: $header_title_spacing;
  line-height: 1em;
}
