
.poster {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  transition: background-position 170ms ease-out-quint;
}

.poster .image {
  opacity: 0;
  pointer-events: none;
  width: 20%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
}

.poster .gradient {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30%;
  min-height: 75px;
  max-height: 300px;

  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, #282828 95%, #282828 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, #282828 95%, #282828 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #282828 95%, #282828 100%);
}

.poster .arrow {
  position: absolute;
  bottom: 10%;
  left: 50%;
  padding: 10px;
  width: 32px;
  height: 20px;
  cursor: pointer;
  margin-left: -26px;
  z-index: 10;
  opacity: 0.85;
  transition: opacity 170ms ease;
}

.poster .arrow img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

.poster .arrow:hover {
  opacity: 1;
}
