
.text {
  position: relative;
}

.text > * {
  line-height: $line_height;
}

.text * + * {
  margin-top: $line_heightem;
}

.text :first-child {
  margin-top: 0;
}

.text :last-child {
  margin-bottom: 0;
}

