
.nav {
  position: relative;
  composes: clear from '../../assets/css/grid.css';
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  float: left;
  position: relative;
  margin: 0;
  padding: 0;
}

.nav a {
  position: relative;
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 20px 15px;
  text-transform: uppercase;
  transition: color 170ms ease;
  font-size: 14px;
  line-height: 1em;
  font-weight: 400;
}

.nav a:hover {
  color: #eb2315;
}

.navInner {
  position: relative;
}
