
html,
body {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  appearance: none;
}

body {
  font: 14px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #282828;
  color: #fff;
  font-weight: 400;
  overflow-y: scroll;
  overflow-x: hidden;
}

body,
* {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

button,
input {
  outline: none;
}
