
.pageEnter,
.pageAppear {
  z-index: 3;
  opacity: 0;
  -webkit-filter: blur(8px) saturate(0%);
}

.pageEnterActive,
.pageAppearActive {
  opacity: 1;
  -webkit-filter: blur(0px) saturate(100%);
}

.pageAppearActive {
  transition: all 450ms ease-out-quint;
  transition-delay: 250ms;
}

.pageEnterActive {
  transition: all 200ms ease-out-quad;
  transition-delay: 400ms;
}

.pageLeave {
  opacity: 1;
  z-index: 2;
}

.pageLeaveActive {
  opacity: 0;
  -webkit-filter: blur(8px) saturate(0%);
  transition: all 200ms ease-in-quad;
  transition-delay: 100ms;
}
